.btn {
  height: 42px !important;
  border-radius: 0rem !important;
}
.btn:focus {
  border: 1px solid black !important;
}

.btn-primary {
  color: black !important;
  border: 1px solid #F89C27 !important;
  background-color: #F89C27 !important;
}
.btn-primary:hover {
  background-color: #fab358 !important;
  border-color: #fab358 !important;
}

.btn-outline-primary {
  color: black !important;
  border: 1px solid #F89C27 !important;
  background-color: white !important;
}
.btn-outline-primary:hover {
  background-color: #F89C27 !important;
}

#backtotop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #F89C27;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  font-size: 18px;
  /* Increase font size */
}

#backtotop:hover {
  background-color: #c2c2c2;
  /* Add a dark-grey background on hover */
}

.square_orange {
  background: #F89C27;
  width: 125px;
  height: 125px;
}

.square_blue {
  background: #13293d;
  width: 125px;
  height: 125px;
}

.square_red {
  background: #da3c10;
  width: 125px;
  height: 125px;
}

.square_cerulean {
  background: #108480;
  width: 125px;
  height: 125px;
}

.square_grey {
  background: #c2c2c2;
  width: 125px;
  height: 125px;
}

.square_light_grey {
  background: #f6f5f5;
  width: 125px;
  height: 125px;
}

.square_borange {
  background: #d7520a;
  width: 125px;
  height: 125px;
}

.square_fgreen {
  background: #457d38;
  width: 125px;
  height: 125px;
}

.square_fblue {
  background: #0372bf;
  width: 125px;
  height: 125px;
}

.square_purple {
  background: #511984;
  width: 125px;
  height: 125px;
}

html {
  margin-bottom: 42px;
}

body {
  font-family: 'Lato', sans-serif !important;
}

a:focus {
  border: none !important;
  box-shadow: 0 0 0 0.1rem black !important;
  border-radius: 0px !important;
}

input {
  height: 42px !important;
  padding: 10px !important;
  color: #000000 !important;
  background-color: #f6f5f5 !important;
  border-radius: 0px !important;
}
input:focus {
  border: none !important;
  box-shadow: 0 0 0 0.1rem black !important;
}

select {
  min-height: 42px !important;
  padding: 10px !important;
  color: #000000 !important;
  background-color: #f6f5f5 !important;
  border-radius: 0px !important;
}
select:focus {
  border: none !important;
  box-shadow: 0 0 0 0.1rem black !important;
}

textarea {
  padding: 10px !important;
  color: #000000 !important;
  background-color: #f6f5f5 !important;
  border-radius: 0px !important;
}
textarea:focus {
  border: none !important;
  box-shadow: 0 0 0 0.1rem black !important;
}

h1 {
  font-size: 2.625rem !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 1.625rem !important;
  font-weight: 400 !important;
}

.b {
  font-weight: bold !important;
}

.uline {
  text-decoration: underline !important;
}

.m0 {
  margin: 0px !important;
}

.p0 {
  padding: 0px !important;
}

.p16 {
  padding: 16px !important;
}

.p26 {
  padding: 26px !important;
}

.p42 {
  padding: 42px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pt42 {
  padding-top: 42px !important;
}

.pb42 {
  padding-bottom: 42px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt26 {
  margin-top: 26px !important;
}

.mt42 {
  margin-top: 42px !important;
}

.mt126 {
  margin-top: 126px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb26 {
  margin-bottom: 30px !important;
}

.mb42 {
  margin-bottom: 42px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mr26 {
  margin-right: 26px !important;
}

.mr42 {
  margin-right: 42px !important;
}

@media only screen and (max-width: 1199px) {
  #nav {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    width: 59% !important;
    margin-top: -50px !important;
  }

  #nav li > a {
    color: #ffffff !important;
    width: 50%;
  }
  #nav li > a:hover {
    color: #333333 !important;
  }

  .icon {
    display: inline-block;
  }

  #close {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .icon {
    display: none;
  }

  #close {
    display: none;
  }

  #open {
    display: none;
  }

  #nav {
    display: inline-block;
  }
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
}

#nav li a {
  display: block;
  color: #333333;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
}
#nav li a:hover {
  background-color: #f6f5f5;
  color: black;
  text-decoration: none;
}

/* Change the link color on hover */
.active {
  background-color: #f6f5f5;
}

ion-icon {
  font-size: 32px;
  display: inline-block;
}

.page-drop {
  color: #d7520a;
  font-weight: bold;
  text-decoration: underline !important;
}
.page-drop:hover {
  color: #c2c2c2;
}

.text_field_grey {
  background-color: #f1f1f1 !important;
  border: 1px solid #d8d8d8 !important;
}
.text_field_grey:focus {
  border: 1px solid #f99d29 !important;
  outline-style: none;
  box-shadow: 0px 0px 1px 1px #f99d29 !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-box-shadow: 0px 0px 1px 1px #597d67;
  box-shadow: 0px 0px 1px 1px #597d67;
}

.guidance_box {
  background-color: #f6f5f5;
}

#imgtab {
  height: 25%;
  width: 30%;
}

code {
  background-color: #ECECEC;
  padding: 15px;
}

.small {
  height: 25%;
  width: 30%;
  padding: 10px;
}

/*# sourceMappingURL=styleguide.css.map */
